<body style="font-family: 'Kanit', sans-serif">
  <div class="login-container">
    <div class="login-left-panel">
      <img
        class="rounded-circle"
        src="assets/images/2.webp"
        width="256"
        height="256"
      />
      <p>ยินดีต้อนรับ พนักงานฝ่ายบัญชีและการเงิน</p>
    </div>
    <div class="login-right-panel">
      <form class="" (ngSubmit)="login()">
        <div>
          <h2>ยินดีต้อนรับสู่ซอฟต์แวร์<br />ระบบธุรกิจ</h2>
          <p>เข้าสู่ระบบเพื่อเข้าถึงแดชบอร์ดของคุณ</p>
        </div>
        <div class="mb-3">
          <label class="form-label">อีเมล หรือ ชื่อผู้ใช้</label>
          <input
            class="form-control"
            type="email"
            [(ngModel)]="user.username"
            name="username"
            placeholder="staff@bmail.com"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">รหัสผ่าน</label>
          <input
            class="form-control"
            type="password"
            [(ngModel)]="user.password"
            name="password"
            placeholder="*********"
          />
        </div>
        <div class="mb-3">
          <button
            class="btn btn-primary btn-lg d-block w-100 login-button"
            type="submit"
          >
            เข้าสู่ระบบ
          </button>
        </div>
        <div class="mb-3"></div>
      </form>
    </div>
  </div>
</body>
